setuptools
phrydy
pylast
rich
requests
send2trash
cryptography
psutil
google-auth-oauthlib
protobuf
google-api-python-client
numpy
screeninfo
pillow
pandas
tabulate
selenium
mediafile
yt-dlp
pushbullet.py
progress
filetype
